p {
	margin: 0px;
	font-family: "consolas", sans-serif;
}

a {
	color: #f0f0f0;
	text-decoration: underline;
}
a:hover {color: #f0f0f0;}
a:active {color: #f0f0f0;}
a:link {color: #f0f0f0;}
a:visited {color: #f0f0f0;}

body {
	background-color: #394952;
	font-size: 2em;
}

.stat {
	display: flex;
}

/*colors*/
.blue {color: #7c9fa6;}
.darkerblue {color: #70838c;}
.white {color: #f0f0f0;}
.red {color: #99736e;}
.color1 {background-color: #99736e;} /*red*/
.color2 {background-color: #78a090;} /*green*/
.color3 {background-color: #bfb7a1;} /*tan*/
.color4 {background-color: #7c9fa6;} /*light blue*/
.color5 {background-color: #bf9c86;} /*copper*/
.color6 {background-color: #99bfba;} /*light green*/
.color7 {background-color: #f0f0f0;} /*white*/
.color8 {background-color: #70838c;} /*dark blue*/

.color {
	width: 35px;
	height: 25px;	
}

#portrait {
	width: 500px;
	height: 500px;
	border-radius: 3%;
	margin-top: 200px;
	margin-bottom: 33px;
}

#links {
	margin-top: 40px;
}

#stats {
	margin-top: 210px;
}

#colors {
	display: flex;
	margin-top: 35px;
}




@media (max-width: 1200px) {
	body {font-size: 1.5em;}
	
	#links {margin-top: 30px;}
	
	#stats {margin-top: 320px;}
	
	#colors {margin-top: 30px;}
	
	.color {
		width: 23px;
		height: 20px;
	}
	
	#portrait {
		width: 400px;
		height: 400px;
		border-radius: 3%;
		margin-top: 300px;
		margin-bottom: 33px;
	}
}

@media (max-width: 992px) {
	body {font-size: 1em;}
	
	#portrait {
		width: 300px;
		height: 300px;
		border-radius: 3%;
		margin-top: 300px;
		margin-bottom: 33px;
	}
}

@media (max-width: 627px) {
	body {font-size: 0.7em;}
	
	#links {margin-top: 10px;}
	
	#stats {margin-top: 320px;}
	
	#colors {margin-top: 10px;}
	
	.color {
		width: 10px;
		height: 7px;
	}
	
	#portrait {
		width: 200px;
		height: 200px;
		border-radius: 3%;
		margin-top: 300px;
		margin-bottom: 33px;
	}
}

@media (max-height: 806px) {
	#portrait { margin-top: 200px; }
	#stats { margin-top: 220px; }
}

@media (max-height: 650px) {
	#portrait { margin-top: 180px; }
	#stats { margin-top: 200px; }
}

@media (max-height: 570px) {
	#portrait { margin-top: 100px; }
	#stats { margin-top: 120px; }
}